body {
    color: black;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
}

h1 {
	padding: 0 5px;
}

h2 {
	font-size: 20px;
	margin: 0;
	font-weight: normal;
}

.container {
	margin: 0 auto;
	padding: 20px 30px;
	width: 896px;
	height: 800px; 
}	

.header {
	height: 60px;
}

.header-logo {
	margin-top: 10px;
	width: 30px;
	height: 30px;
	background-color: black;
	float: left;
}

.header-title {
	margin: 0;
	position: absolute;
	padding: 0;
	float: left;
}

.header-menu {
	float: right;
	padding: 0;
	margin-top: 25px;
}

.header-menu ul {
	list-style: none;
}

.header-menu li {
	float: left;
	margin-left: 20px;
}

.header-menu a {
    color: #666;
    text-decoration: none;  
}

.header-menu a:hover {
    text-decoration: underline;
    color: #444;
}

.search-form {
	background-color: white;
	width: 263px;
	border: 8px #BEBEBE solid;
	height: 230px;
	margin: 10px 10px 10px 0;
	padding: 20px;
	float: left;
}

.search-form-input {
	margin-top: 20px;
}

.search-form-input-field { 
	width: 180px;
}

.search-input-container {
	margin-bottom: 16px;
}

form label {
	float: left;
	width: 70px;
}

.deals {
	margin: 10px 0 0 329px;
	height: 282px;
	width: 565px;
	border: 1px black solid;
	position:absolute;
	background-color: white;
	background-image: url('../img/panama.jpg');
}

.deal-title {
	float: right;
	margin-top: 182px;
	height: 130px;
	width: 300px;
}

.deal-title-container{
	background-color: black;
	height: 100px;
	width: 300px;
	position: absolute;
	opacity: 0.6;
}

.deal-text {
	position:relative;
	padding: 10px 15px 10px 10px;
	text-align: right;
	color:white;
}

.deal-text h2 {
	margin: 0;
	font-size: 32px;
}

.secondary-deals {
	width: 896px;
	height: 250px;
	float:left;
	margin-top: 5px;
}

.deal {
	width: 22%;
	height: 50px;
	background-color: #E2E2E2;
	text-align: center;
	font-weight: bold;
	padding: 110px 5% 90px 5%;
	float: left;
	margin-left: 2%;
}

#deal1 {
	margin-left: 0;
}

.page {
	margin-top: 10px;
    display: none;
}

.page.current {
    display: block;
}

.search-filters {
	width: 220px;
	height: 500px;
	border: 8px #BEBEBE solid;
	padding: 16px;
	float: left;
}

.search-results {
	width: 612px;
	float: left;
	margin-left: 16px;
}

.search-result {
	background-color: #E2E2E2;
	padding: 16px;
	height: 150px;
	margin-bottom: 16px;
}

