/* CSS Styles for travel.ly
 *
 * @author Agustin Pagnoni <aguspagnoni@gmail.com>
 *         Federico Bond <federicobond@gmail.com>
 *         Lucas Moscovicz <lmoscovicz@gmail.com>
 */

/* =Global */
body {
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
}

h1 {
    padding: 0 5px;
}

h2 {
    font-size: 20px;
    margin: 0 0 10px;
    font-weight: normal;
}

.container {
    margin: 0 auto;
    padding: 20px 30px;
    width: 960px;
    overflow: auto;
}

/* =Header */
.header {
    height: 60px;
}

.header-title {
    position: absolute;
    float: left;
}

.header-menu {
    float: right;
    margin-top: 25px;
}

.header-menu ul {
    list-style: none;
}

.header-menu li {
    float: left;
    margin-left: 20px;
}

.header-menu a {
    color: #666;
    text-decoration: none;  
}

.header-menu a:hover {
    text-decoration: underline;
    color: #444;
}

/* =Search Form */

.search-form {
    background-color: white;
    width: 321px;
    border: 8px #BEBEBE solid;
    height: 230px;
    margin: 0 10px 10px 0;
    padding: 20px;
    float: left;
}

.search-form-input {
    margin-top: 20px;
}

.search-form-input-field { 
    width: 240px;
}

.search-input-container {
    margin-bottom: 16px;
}

.form-button{
    float: right;
    margin-right: 6px;
}

.search-form label {
    float: left;
    width: 70px;
	font-size: 13px;
	font-weight: bold;
	color: #999;
	margin-top:3px;
}

/* =Filter */

.filter-form label {
    font-size: 13px;
    font-weight: bold;
    color: #999;
}

.filter-form input {
    margin: 5px 0 10px;
}

.filter-form #filter-price {
    color: #F6A828;
    border: none;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 10px;
}

.filter-form .check {
    font-size: 14px;
}

.filter-title {
	margin-top: 20px;
}

.filter-form-input-field {
    width: 205px;
}

.filter-form .check input {
    margin-right: 5px;
}

/* =Deals */

.deals {
    margin-left: 393px;
    height: 282px;
    width: 565px;
    border: 1px black solid;
    position:absolute;
    background-color: white;
    background-image: url('../img/panama.jpg');
}

.deal-title {
    float: right;
    margin-top: 182px;
    height: 130px;
    width: 300px;
}

.deal-title-container{
    background-color: black;
    height: 100px;
    width: 300px;
    position: absolute;
    opacity: 0.6;
}

.deal-text {
    position:relative;
    padding: 10px 15px 10px 10px;
    text-align: right;
    color:white;
}

.deal-text h2 {
    margin: 0;
    font-size: 32px;
}

.secondary-deals {
    width: 960px;
    height: 250px;
    float:left;
    margin-top: 5px;
}

.deal {
    width: 22%;
    height: 60px;
    background-color: #E2E2E2;
    text-align: center;
    font-weight: bold;
    padding: 110px 5% 90px 5%;
    float: left;
    margin-left: 2%;
}

#deal1 {
    margin-left: 0;
}

/* =Page */
.page {
    margin-top: 20px;
    display: none;
}

.page.current {
    display: block;
}

.search-filters {
    width: 220px;
    border: 8px #BEBEBE solid;
    padding: 16px;
    float: left;
}

.search-filter {
    margin-bottom: 10px;
}

.search-filters select {
    margin-top: 8px;
    width: 214px;
}

.filter-option {
    margin-top: 25px;
}

.filter-price-input {
    width: 150px;
}

.filter-checkbox {
    margin-left: 10px;
}

/* =Search Results */
.search-results {
    width: 676px;
    float: left;
    margin-left: 16px;
}

.search-result {
    overflow: auto;
    margin-bottom: 16px;
}

.search-result-container {
    background-color: #E2E2E2;
    float: left;
    padding: 10px;
    width: 466px;
    height: 160px;
}

.search-result-info-titles {
    width: 400px;
    height: 40px;
    font-size: 14px;
}

.search-result-title {
    float:left;
    text-align: left;
    margin-left: 18px;
}

.search-result-price {
    float: right;
    margin-left: 10px;
    height: 132px;
    width: 132px;
    padding: 16px;
    font-size: 16px;
    text-align: center;
    background-color: white;
    border: #8E8E8E 8px solid;
}

.price-text {
    margin-top: 16px;
}

.search-result-price em {
    font-size: 26px;
    font-weight: bold;
    font-style: normal;
}

.buy-button {
    display: block;
    margin-top: 19px;
    float: center;
    font-size: 14px;
    height: 25px;
    padding-top: 7px;
    text-decoration: none;
    border: 1px #8E8E8E outset;
    border-radius: 5px;
    font-weight: bold;
    color: black;
    background: -webkit-linear-gradient(top, #FFB800, #FFD886);
}

.buy-button:active {
    border: 1px #8E8E8E inset;
    background: -webkit-linear-gradient(top, #FFD886, #FFB800);
}

/* =jQuery UI */
.ui-widget {
    font-size: 12px !important;
}

.ui-datepicker {
    z-index: 1000 !important;
}

/* =Footer */
.footer {
    background: #EEE;
    color: #777;
    font-size: 12px;
    text-align: center;
    margin-top: 40px;
}

.	 a {
    color: #555;
}

.wrap {
    padding: 20px 0 40px;;
    margin: 0 auto;
    width: 960px;
}
