/* CSS Styles for travel.ly
 *
 * @author Agustin Pagnoni <aguspagnoni@gmail.com>
 *         Federico Bond <federicobond@gmail.com>
 *         Lucas Moscovicz <lmoscovicz@gmail.com>
 */

/* =Global */
body {
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    background: #444;
}

h1 {
    padding: 0 5px;
    font-weight: normal;
}

h2 {
    font-size: 21px;
    margin: 0 0 10px;
    font-weight: normal;
}

p {
    line-height: 1.5em;
    text-shadow: 0 1px 0 white;
}

.container {
    overflow: auto;
    background: white url("../img/background.png") repeat-x;
    padding-bottom: 40px;
}

/* =Header */
.header {
    height: 60px;
}

.header-title a {
    position: absolute;
    float: left;
    text-indent: -9999px;
    width: 250px;
    height: 64px;
    display: block;
    background-image: url("../img/logo.png");
}

.header-menu {
    float: right;
}

.header-menu ul {
    list-style: none;
    border: 1px solid #F8CA95;
    overflow: auto;
    padding: 0;
    border-radius: 3px;
}

.header-menu li {
    float: left;
    border-left: 1px solid #F8CA95;
}

.header-menu li:first-child {
    border-left: none;
}

.header-menu a {
    color: #F5A300;
    background: white;
    display: block;
    text-shadow: 0 1px 0 white; 
    text-decoration: none;  
    padding: 10px 20px;
}

.header-menu a:hover {
    text-decoration: underline;
    color: #444;
}

/* =Forms */
input {
    border: 1px solid #CCC;
    padding: 3px;
}

.search-form {
    background-color: white;
    width: 335px;
    border: 1px #F5A300 solid;
    height: 242px;
    margin: 0 10px 10px 0;
    padding: 20px;
    float: left;
}

.search-form input { 
    width: 328px;
}

.search-input-container {
    margin-bottom: 10px;
}

.search-form label {
    width: 70px;
    display: block;
	font-size: 13px;
	font-weight: bold;
	color: #999;
    margin: 3px 0;
}

.column-2 div:first-child {
    margin-right: 25px;
}

.column-2 div {
    width: 148px;
    float: left;
}

.column-2 input {
    width: 154px;
}

.form-section {
    background: white;
    border: 1px solid #F8CA95;
    border-radius: 3px;
    padding: 20px;
    overflow: auto;
}

.form-section label {
    display: block;
    font-size: 13px;
    font-weight: bold;
    color: #666;
    margin: 10px 0 5px 0;
}

.form-terms {
    padding: 20px;
}

.nav {
    overflow: auto;
    margin-bottom: 20px;
}

/* =Filter */
.search-filters {
    background: white;
}

.filter-form label {
    font-size: 13px;
    font-weight: bold;
    color: #999;
}

.filter-form input {
    margin: 5px 0 10px;
}

.filter-form #filter-price {
    color: #F6A828;
    border: none;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 10px;
}

.filter-form .check {
    font-size: 14px;
}

.filter-title {
	margin-top: 20px;
}

.filter-form-input-field {
    width: 205px;
}

.filter-form .check input {
    margin-right: 5px;
}

.form-section dt {
	text-decoration: none;
	float: left;
	clear: both;
	font-size: 13px;
	font-weight: bold;
	color: #666;
	margin-bottom: 15px;
	width: 150px;
}

.form-section dd {
	text-decoration: none;
	font-size: 13px;
	float: left;
	margin: 0px 0 5px 15px;
}

/* =Deals */

.deals {
    margin-left: 393px;
    height: 284px;
    width: 567px;
    position:absolute;
    background-color: white;
    background-image: url('../img/panama.jpg');
}

.deal-title {
    float: right;
    margin-top: 182px;
    height: 130px;
    width: 300px;
}

.deal-title-container{
    background-color: black;
    height: 100px;
    width: 300px;
    position: absolute;
    opacity: 0.6;
}

.deal-text {
    position:relative;
    padding: 10px 15px 10px 10px;
    text-align: right;
    color:white;
}

.deal-text h2 {
    margin: 0;
    font-size: 32px;
}

.secondary-deals {
    float: left;
    clear: both;
    overflow: auto;
    margin-top: 5px;
}

.deal {
    width: 310px;
    height: 150px;
    margin-left: 15px;
    padding-top: 110px;
    background-color: #E2E2E2;
    text-align: center;
    font-weight: bold;
    float: left;
}

#deal1 {
    margin-left: 0;
}

/* =Page */
.page {
    margin-top: 40px;
    display: none;
}

.page.current {
    display: block;
}

.search-filters {
    width: 220px;
    border: 8px solid #F8CA95;
    padding: 16px;
    float: left;
}

.search-filter {
    margin-bottom: 10px;
}

.search-filters select {
    margin-top: 8px;
    width: 214px;
}

.filter-option {
    margin-top: 25px;
}

.filter-price-input {
    width: 150px;
}

.filter-checkbox {
    margin-left: 10px;
}

/* =Search Results */

.search-wrap {
    width: 676px;
    float: left;
    margin-left: 16px;
}

.sorting-options {
    height: 70px;
    width: 676px;
}

.sorting-option {
    margin-top: 20px;
    width: 120px;
    float: left;
    font-size: 13px;
    font-weight: bold;
    color: #999;
}

.sorting-option input {
    margin-left: 5px;
}

.search-results {
    margin-top: 16px;
}

.search-result {
    overflow: auto;
    margin-bottom: 16px;
    font-size: 14px;
}

.search-result-container {
    background-color: white;
    border: 1px solid #F8CA95;
    float: left;
    padding: 10px;
    width: 474px;
    height: 158px;
}

.search-result-title {
    text-align: center;
    clear: both;
    padding: 10px 0;
}

.search-result-icon img {
    margin-top: 6px;
	height: 24px;
	width: 24px;
}

.search-result-info {
    float:left;
    width: 174px;
    margin-top: 10px;
    padding: 2px;
    text-align: center;
}

.search-result-icon {
    float:left;
    width: 85px;
    padding: 2px;
    text-align: center;
}

.search-result-price {
    float: right;
    height: 132px;
    width: 132px;
    padding: 16px;
    font-size: 16px;
    text-align: center;
    background-color: white;
    border: 8px solid #F8CA95;
}

.price-text {
    margin-top: 16px;
    margin-bottom: 20px;
}

.search-result-price em {
    font-size: 26px;
    font-weight: bold;
    font-style: normal;
}

.search-result-price .button {
    float: none;
}

.submit {
    clear: both;
    float: right;
}

.button {
    background: -webkit-linear-gradient(top, #F6B900, #F17400);
    border-radius: 5px;
    border: 1px solid #F17400;
    color: white;
    text-shadow: 0 1px 0 #F1742A;
    box-shadow: 0 1px 1px #CCC;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    padding: 8px 16px;
}

.button:active {
    background: -webkit-linear-gradient(top, #F17400, #F6B900);
}

/* =Sorting */
.search-results-header {
    background: white;
    border: 1px solid #F8CA95;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 13px;
    overflow: auto;
}

.search-results-header .count {
    font-weight: bold;
    float: left;
}

.search-results-header .sorting {
    float: right;
}

/* =Pagination */
.pagination {
    
}

.pagination ul {
    list-style: none;
    padding-left: 0;
}

.pagination li {
    float: left;
}

.pagination a {
    color: #F2A500;
    padding: 5px 10px;
    border: 1px solid #F2A500;
    margin-right: 5px;
    text-decoration: none;
    border-radius: 3px;
}

.pagination .current-page a {
    background: #F8CA95;
    color: white;
}

/* =jQuery UI */
.ui-widget {
    font-size: 12px !important;
}

.ui-datepicker {
    z-index: 1000 !important;
}

/* =Footer */
.footer {
    color: #BBB;
    font-size: 12px;
    text-align: center;
}

.footer p {
    text-shadow: 0 1px 0 #333;
}

.footer a {
    color: #BBB;
}

.wrap {
    padding: 20px 0 40px;;
    margin: 0 auto;
    width: 960px;
}
